<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="UTF-8" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- //<meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>数据分享</title>
<link rel="stylesheet" type="text/css" href="/static/index/index.css" />
<script type="text/javascript" src="/static/common/head.js"></script>
</head>
<body>
	<!-- top link start -->
	<div style="padding: 30px"></div>
	<!-- top link end -->
	<div class="ui centered grid">
		<div class="row">
			<div  style="width: 300px; height: 29px;">
					<font style="font-style:italic;font-weight:bold;font-size:18px;">共享你的数据，让数据链接起来</font>
			</div>
		</div>
		<div class="row">
			<form class="column" style="width: 640px;" method="GET"
				action="https://www.baidu.com/s" name="search">
				<div class="ui fluid input action">
					<input type="text" name="wd" placeholder="搜索你感兴趣的数据" />
					<button class="ui blue button"
						onclick="document.forms['search'].submit();">搜一下</button>
				</div>
			</form>
		</div>
	</div>
	<div class="ui one column center aligned grid ">
		<div class="column"
			style="padding-top: 140px; font-weight: bold; color: rgba(71, 66, 66, 0.822)">
		</div>
		 I come from <span th:text="${UserIp}"></span>
	</div>
</body>
</html>
